@page "/day"
@inject NavigationManager NavigationManager

<div>
    <!--X button for closing popup-->
    <div class="d-flex justify-content-end">
        <div class="btn bi bi-x-close" @onclick="ClosePopup"></div>
    </div>
    <!--Display selected date, events and weather-->
    <div class="d-flex flex-column align-items-center">
        <h2>@SelectedDate.ToString("dd-MM-yyyy")</h2>
        <div @onclick="() => PassSelectedEventToEventViewer(matchingEvent)" class="event-manager-button size-large text-center">@DisplayEvents()</div>
        <p>@(new MarkupString(GetWeatherForSelectedDate()))</p>
    </div>
    <!--Button to navigate to new event creation form-->
    <div class="mt-5 d-flex justify-content-center">
        <button @onclick="() => PassSelectedDateToNewEvent(SelectedDate)" class="event-manager-button size-medium text-center text-decoration-none">Create New Event</button>
    </div>
</div>

@code {
    [Parameter]
    public DateTime SelectedDate { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    Event? matchingEvent;

    // Fetch weather data for selected date by matching date
    private string GetWeatherForSelectedDate()
    {
        string date = SelectedDate.ToString("yyyy-MM-dd");

        Weather? matchingWeather = FetchAPI.weatherList.GetWeatherDataByDate(date);

        if (matchingWeather == null)
        {
            return "No weather data available.";
        }
        string weatherString = matchingWeather.ToString().Substring(21);
        return matchingWeather.FormatForHTML(weatherString);
    }

    private string DisplayEvents()
    {
        string date = SelectedDate.ToString("yyyy-MM-dd");

        matchingEvent = Event.eventList.GetEventByDate(date);

        if (matchingEvent == null)
        {
            return "No events on this day.";
        }
        return matchingEvent.ToString();
    }

    private void PassSelectedDateToNewEvent(DateTime date)
    {
        date = SelectedDate;
        string formattedDate = date.ToString("yyyy-MM-dd");
        string url = $"/new-event?SelectedDate={formattedDate}";
        Debug.WriteLine($"Navigating to: {url}");
        NavigationManager.NavigateTo(url);
    }

    private void PassSelectedEventToEventViewer(Event selectedEvent)
    {
        Event.eventList.GetEventByDate(selectedEvent.EventDate);
        string url = $"/event-viewer?SelectedEvent={selectedEvent.EventName}";
        Debug.WriteLine($"Navigating to: {url}");
        NavigationManager.NavigateTo(url);
    }

    private async Task ClosePopup()
    {
        await OnClose.InvokeAsync(null);
    }
}
