<div>
    <!--X button for closing popup-->
    <div class="d-flex justify-content-end">
        <div class="btn bi bi-x-close" @onclick="ClosePopup"></div>
    </div>
    <!--Display selected date, events and weather-->
    <div class="d-flex flex-column align-items-center">
        <h2>@SelectedDate.ToString("dd-MM-yyyy")</h2>
        <p>@DisplayEvents()</p>
        <p>@(new MarkupString(GetWeatherForSelectedDate()))</p>
    </div>
    <!--Button to navigate to new event creation form-->
    <div class="mt-5 d-flex justify-content-center">
        <NavLink href="./new-event" class="event-manager-button size-medium text-center text-decoration-none">Create New Event</NavLink>
    </div>
</div>

@code {
    [Parameter]
    public DateTime SelectedDate { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private string GetWeatherForSelectedDate()
    {
        string date = SelectedDate.ToString("yyyy-MM-dd");

        Weather? matchingWeather = FetchAPI.weatherList.GetWeatherDataByDate(date);

        if (matchingWeather == null)
        {
            return "No weather data available.";
        }
        string weatherString = matchingWeather.ToString();
        return matchingWeather.FormatForHTML(weatherString);
    }

    private string DisplayEvents()
    {
        //TODO: Display list of events for selected date
        return "No events on this day.";
    }

    private async Task ClosePopup()
    {
        await OnClose.InvokeAsync(null);
    }
}
