@page "/event-history"

<h1>Event History</h1>

<!--
    TODO:
    - Display list of past events
    - If event date is less than current date, display event
    - If user rerouted from Home Calendar, display selected day
-->

@code {

}
