@page "/event-viewer"

<h1>Event Viewer</h1>

<!--
    TODO:
    - If SelectedEvent != null display detailed information for selected event
    - If SelectedEvent == null display list of events
-->

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "SelectedEvent")]
    public Event? SelectedEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Fetch events from database
        DBManager.ReadDatabase(MauiProgram.dbManager.DbConnString);
    }
}
