@page "/event-viewer"

<h1>Event Viewer</h1>

<!--
    TODO:
    - Display list of events
    - Display detailed information for selected event
    - If user rerouted from Home Calendar, display selected day
-->

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Fetch events from database
        DBManager.ReadDatabase(MauiProgram.dbManager.DbConnString);
    }
}
