@page "/"

<h1 class="text-center">Event Management System</h1>

<h3 class="text-center">Event Calendar</h3>

<!--
    TODO: Create a Calendar using three lists and CSS:
    - List 1: Months, depedent on enum
    - List 2: Days, dependent on enum
    - List 3: Dates, numbers dependent on System.DateOnly
    - CSS: Use CSS to style Calendar
        > Month on top
        > Days under Month spread out horizontally
        > Dates properly appearing under their corresponding day

    Interactive, can switch months and click on days. 
    When a day is clicked:
        - Display a button to enter New Event page
        - Display Weather for that day or "Weather not available for this day"
-->