<!-- Use _Imports.razor for all using directives -->

@page "/"

<h1 class="text-center">Event Management System</h1>

<Calendar DisplayDay="OpenPopup" />

@if (showPopup)
{
    <div class="modal fade show d-block ms-5" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <Day SelectedDate="selectedDate" OnClose="ClosePopup" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code
{
    private bool showPopup = false;
    private DateTime selectedDate;

    // Special Task method that is called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Ensures API is only fetched once and CWD is only set once
        if (FetchAPI.weatherList == null || FetchAPI.weatherList.IsEmpty() == true)
        {
            await FetchWeatherAPI();
            FetchDatabase();
        }
    }

    /// <summary>
    /// FetchWeatherAPI method fetches the weather API from the URL provided in the environment variables.
    /// 
    /// Steps:
    /// 1. Set CWD to the base directory of the application.
    /// 2. Load environment variables.
    /// 3. Fetch API using URL from environment variables.
    /// </summary>
    /// <returns>
    /// Task of type void.
    /// </returns>
    /// <exception cref="APIConnectionException">Thrown when the URL from the environment variables is not correctly loaded.</exception>
    private async Task FetchWeatherAPI()
    {
        // Set CWD, needed for API key
        var baseDir = AppDomain.CurrentDomain.BaseDirectory;
        Directory.SetCurrentDirectory(baseDir);

        // Check CWD, should be in ..\bin\Debug\net8.0-windows10.0.19041.0\win10-x64\AppX
        Debug.WriteLine($"CWD: {Directory.GetCurrentDirectory()}");
        Debug.WriteLine("Directory should lead to: ..\\bin\\Debug\\net8.0-windows10.0.19041.0\\win10-x64\\AppX");

        // Load environment variables
        Env.Load();

        // Fetch API URL
        var apiUrl = Environment.GetEnvironmentVariable("API_URL");

        // Check if API URL is null or empty
        if (string.IsNullOrEmpty(apiUrl))
        {
            throw new APIConnectionException("API URL is null or empty.");
        }
        else
        {
            // Fetch Weather API
            await FetchAPI.FetchWeather(apiUrl);
        }
    }
    private static void FetchDatabase()
    {
        MauiProgram.dbManager.SetConnStr();

        // Check if Database connection string is null or empty
        if (string.IsNullOrEmpty(MauiProgram.dbManager.DbConnString))
        {
            throw new DBConnectionException("Database connection string is null or empty.");
        }
        else
        {
            // Create Database
            DBManager.CreateDatabase(MauiProgram.dbManager.DbConnString);

            // Create Table
            DBManager.CreateTable(MauiProgram.dbManager.DbConnString);
        }
    }

    private void OpenPopup(DateTime date)
    {
        selectedDate = date;
        showPopup = true;
    }

    private void ClosePopup()
    {
        showPopup = false;
    }
}