@page "/"

<h1 class="text-center">Event Management System</h1>

<h3 class="text-center">Event Calendar</h3>

<!--
    TODO: Create a Calendar using three lists and CSS:
    - List 1: Months, depedent on enum
    - List 2: Days, dependent on enum
    - List 3: Dates, numbers dependent on System.DateOnly
    - CSS: Use CSS to style Calendar
        > Month on top
        > Days under Month spread out horizontally
        > Dates properly appearing under their corresponding day

    Interactive, can switch months and click on days. 
    When a day is clicked:
        - Display a button to enter New Event page
        - Display Weather for that day or "Weather not available for this day"
-->

@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await FetchWeatherAPI();
    }

    private async Task FetchWeatherAPI()
    {
        // Set CWD, needed for API key
        var baseDir = AppDomain.CurrentDomain.BaseDirectory;
        Directory.SetCurrentDirectory(baseDir);

        // Check CWD, should be in ..\bin\Debug\net8.0-windows10.0.19041.0\win10-x64\AppX
        Debug.WriteLine($"CWD: {Directory.GetCurrentDirectory()}");

        // Load environment variables
        Env.Load();

        var apiUrl = Environment.GetEnvironmentVariable("API_URL");

        if (string.IsNullOrEmpty(apiUrl))
        {
            Debug.WriteLine("API URL is null or empty.");
        }
        else
        {
            // Fetch Weather API
            FetchAPI.FetchWeather(apiUrl);
        }
    }
}