@page "/new-event"
@inject NavigationManager NavigationManager

<h1 class="text-center">New Event</h1>
<div class="eventForm">
    <form @onsubmit="HandleAddEvent">
        <label for="eventName" class="form-label">Event Name:</label>
        <input type="text" id="eventName" class="form-control" @bind="newEvent.EventName" required />

        <label for="eventDate" class="form-label">Event Date (yyyy-mm-dd):</label>
        <input @onfocus="HandleNullDate" type="text" id="eventDate" class="form-control" @bind="newEvent.EventDate" required />

        <label for="eventLocation" class="form-label">Event Location:</label>
        <input type="text" id="eventLocation" class="form-control" @bind="newEvent.EventLocation" required />

        <label for="eventDescription" class="form-label">Event Description:</label>
        <input type="text" id="eventDescription" class="form-control" @bind="newEvent.EventDescription" required />

        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="event-manager-button size-medium text-center">Add Event</button>
        </div>
    </form>
</div>

@code {
    private Event newEvent = new Event();

    // Selected date imported from Calendar as a parameter
    [Parameter]
    [SupplyParameterFromQuery(Name = "SelectedDate")]
    public string SelectedDate { get; set; }

    // Update event date when SelectedDate changes
    protected override async Task OnParametersSetAsync()
    {
        newEvent.EventDate = SelectedDate;
        Debug.WriteLine($"Selected date: {SelectedDate}");
        await base.OnParametersSetAsync();
    }

    // Add event to database
    private void HandleAddEvent()
    {
        DBManager.InsertEvent(
            newEvent.EventName,
            newEvent.EventDate,
            newEvent.EventLocation,
            newEvent.EventDescription,
            MauiProgram.dbManager.DbConnString
        );

        ClearForm();
    }

    // Prevent incompatible date format by redirecting to Calendar component on the home page
    private void HandleNullDate()
    {
        if (newEvent.EventDate == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    // Clear form after adding event
    private void ClearForm()
    {
        newEvent = new Event();
    }
}