@page "/new-event"

<h1>New Event</h1>

<!--
    TODO:
    - Button to create new event
        > When button is pushed Calendar component is displayed
            - Display as new page, popup or on New Event page depending on feasibility
        > When day is selected from Calendar, display form
        > Form will be used to create Event object
    - If user is brought here from Calendar on home page, display selected day
-->

@code {
    
}
